.container{
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: repeat(1, 300px);
    height: 100vh;
}

.ch{
    background-color: red;
    border: 3px solid;
}

@media screen and (max-width: 420px)
@media screen and (min-width: 700px){
    .container{
        grid-template-columns: repeat(1, auto);
        grid-template-rows: repeat(4, auto);
    }
    
}